<h1>Products</h1>
<table id="products">
  <% @products.each do |p| -%>
    <tr>
      <td><%= p.name %></td>
      <td>$<%= p.price %></td>
    </tr>
  <% end -%>
</table>


<dl>
  <% if current_user.has_payment_info? -%>
      <dt>Name</dt>
      <dd><%= current_user.name %></dd>
      <dt>Email</dt>
      <dd><%= current_user.email %></dd>
      <dt>Credit Card</dt>
      <dd><%= current_user.masked_cc %></dd>
  <% else -%>
    <dt><%= link_to "Setup Your Payment Info", new_payment_info_path  %></dt>
  <% end %>
    <dt>Last Logged In</dt>
    <dd><%= current_user.last_sign_in_at %></dd>
</dl>
