<!DOCTYPE html>
<html>
<head>
  <title>Rails3TrDevise</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>

<p><%= link_to 'Home', root_path %></p>

<% if user_signed_in? -%>
  <div id="user_login_box">
    <%= current_user.email %> |
    <%= link_to 'My info', edit_user_registration_path %> |
    <%= button_to 'Sign out', destroy_user_session_path, :method => 'delete' %>
  </div>
<% end -%>

<%= yield %>

</body>
</html>
